*, html, body{
    margin: 0;
    padding: 0;
    font-family: "courier", monospace;
    scroll-behavior: smooth;
}

body{
    background-image: url(photos/wpp.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login {
    height: 320px;
    width: 270px;
    top: 50%;
    left: 50%;
    background-color: rgb(0,0,0,0.4);
    position: absolute;
    padding: 10px;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px; 
}
 
h1{
    color: white;
    padding-top: 35px;
    font-size: 20px;
}
 
#input {
    background: transparent;
    border: none;
    border-bottom: 2px solid white ;
    padding: 11px;
    margin: 15px;
    outline: none;
    color: white;
}

#submit {
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 20px;
    border: none;

}

#submit:hover{
    color: white;
    background-color: #007C5D;
    cursor:pointer;
}

a {
    font-size: 12px;
    color: white;
    text-decoration: none ;
}

a:hover{
    color :#007C5D;

}